.Coverflow {
  background-color: black;
  height: fit-content;
  overflow: hidden;
  box-sizing: border-box;
}

.Coverflow__wrapper {
  width: fit-content;
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: maroon;
}

.Album {
  --album-size: 62vh;

  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--album-size);
  height: var(--album-size);
  box-sizing: border-box;
}

.Album__cover {
  background-color: indianred;
  width: 90%;
  height: 90%;
}