.App {
  --color_bg-main-glow: #23282e;
  --color_bg-main-dark: #18191d;

  --color_border-glow: #53585e;
  --color_border-dark: #08090d; 

  text-align: center;
  border-radius: 12px;
  overflow: hidden;
  background: var(--color_bg-main-dark);
  background: linear-gradient(135deg,
              var(--color_bg-main-glow) 0%,
              var(--color_bg-main-dark) 100%
  );
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: inset  1px  1px 2px 0px var(--color_border-glow),
              inset -2px -2px 2px 0px var(--color_border-dark);
}